<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Members Only</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  
  <body>
    <div class="welcome-page page">
      <h1>Welcome to <div><em>Members Only</em></div> Express Application</h1>

      <section>
        <p>
          To ensure the best experience with this application, please consult the documentation at the
          <a 
            href="https://github.com/BradCodeCraft/odin-members-only/tree/main" 
            target="_blank" 
            rel="noreferrer noopener"
          > GitHub repository</a>
          (opens in a new tab).
        </p>
      </section>

      <section>
        <h2>Copyright</h2>
        <p>Copyright &copy; 2025 by BradCodeCraft. All rights reserved.</p>
      </section>

      <a class="proceed-link" href="/messages">
        <button type="button" tabindex="-1">
          Proceed
        </button>
      </a>
    </div>
  </body>
</html>
